<article class="bg-base" [class.bg-logged]="isLoggedIn" [class.bg-guest]="!isLoggedIn">
  <section
    class="flex flex-col bg-white text-black py-[15px] md:p-[40px] px-[20px] md:px-[40px] lg:px-[40px] 2xl:px-[40px] 3xl:px-[40px] rounded-3xl w-[90%] md:w-[490px] lg:w-[490px] 2xl:w-[490px] 3xl:w-[490px] items-center text-center"
  >
    @if (showIcons) {
    <div class="flex-row">
      <mat-icon class="icon-big">book</mat-icon>
      <mat-icon class="icon-big">local_movies</mat-icon>
    </div>
    }

    <span class="font-bold text-xl md:text-2xl lg:text-2xl 2xl:text-2xl 3xl:text-2xl">
      {{ title }}
    </span>

    @if (subtitle) {
    <div
      class="text-center"
      [style.width.%]="subtitleWidth === '75%' ? 75 : subtitleWidth === '60%' ? 60 : 90"
    >
      <span
        class="font-medium text-sm md:text-base lg:text-base 2xl:text-base 3xl:text-base text-[#7B7B7B]"
      >
        {{ subtitle }}
      </span>
    </div>
    }

    <ng-content></ng-content>
  </section>
</article>
