:host {
  display: block;
}

::ng-deep {
  .mat-mdc-form-field {
    width: 100%;
  }

  .mat-mdc-text-field-wrapper {
    background-color: rgba(255, 255, 255, 0.05);
  }

  .mat-mdc-form-field-focus-overlay {
    background-color: rgba(255, 255, 255, 0.05);
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: rgba(255, 255, 255, 0.05);
  }
}
