.mat-icon {
  height: 45px !important;
  width: 45px !important;
  font-size: 45px !important;

  @media (max-width: 1536px) {
    height: 35px !important;
    width: 35px !important;
    font-size: 35px !important;
  }

  @media (max-width: 768px) {
    height: 25px !important;
    width: 25px !important;
    font-size: 25px !important;
  }
}
