<article
  class="bg-[#F0F4F9]/70 backdrop-blur-sm rounded-lg shadow-lg border-[0.5px] border-[#757575]"
>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">local_movies</mat-icon>
        Películas
      </ng-template>
      <app-movies-content></app-movies-content>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">book</mat-icon>
        Libros
      </ng-template>
      <app-books-content></app-books-content>
    </mat-tab>
  </mat-tab-group>
</article>
