<article
  class="bg-[#F0F4F9]/70 backdrop-blur-sm rounded-lg shadow-lg border-[0.5px] border-[#757575]"
>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">people</mat-icon>
        <span class="ml-1">Amigos</span>
      </ng-template>
      <app-friend-requests></app-friend-requests>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">notifications</mat-icon>
        Notificaciones
      </ng-template>
      <app-notification-requests></app-notification-requests>
    </mat-tab>
  </mat-tab-group>
</article>
