<app-auth-card
  title="Únete a la comunidad"
  subtitle="Comparte tus recomendaciones favoritas y descubre nuevos contenidos"
>
  <mat-horizontal-stepper [linear]="false" #stepper class="w-full">
    <mat-step [stepControl]="personalInfoForm">
      <form [formGroup]="personalInfoForm">
        <ng-template matStepLabel>Información Personal</ng-template>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Nombres Completos</mat-label>
          <input matInput formControlName="fullName" />
          <mat-icon matPrefix>person_outline</mat-icon>
          @if (personalInfoForm.get('fullName')?.hasError('required')) {
          <mat-error>Los nombres y apellidos son requeridos</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>País</mat-label>
          <!-- Icono de país/flag al inicio -->
          <mat-icon matPrefix>public</mat-icon>
          <input matInput formControlName="country" [matAutocomplete]="auto" #countryInput />
          <button
            mat-icon-button
            matSuffix
            type="button"
            *ngIf="personalInfoForm.get('country')?.value"
            (click)="personalInfoForm.get('country')?.setValue('')"
            aria-label="Borrar país"
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let country of filteredCountries | async" [value]="country">
              {{ country }}
            </mat-option>
          </mat-autocomplete>
          @if (personalInfoForm.get('country')?.hasError('required')) {
          <mat-error>El país es requerido</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Celular</mat-label>
          <input matInput formControlName="phone" type="tel" />
          <mat-icon matPrefix>phone</mat-icon>
          @if (personalInfoForm.get('phone')?.hasError('required')) {
          <mat-error>El celular es requerido</mat-error>
          }
        </mat-form-field>

        <div class="flex justify-end mt-4">
          <button mat-fab extended matStepperNext class="!w-full">
            Siguiente
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="accountInfoForm">
      <form [formGroup]="accountInfoForm">
        <ng-template matStepLabel>Información de Cuenta</ng-template>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Correo electrónico</mat-label>
          <input matInput formControlName="email" type="email" />
          <mat-icon matPrefix>email</mat-icon>
          @if (accountInfoForm.get('email')?.hasError('required')) {
          <mat-error>Correo electrónico requerido</mat-error>
          } @if (accountInfoForm.get('email')?.hasError('email')) {
          <mat-error>Correo electrónico inválido</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full mb-6">
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" />
          <mat-icon matPrefix>lock</mat-icon>
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="togglePasswordVisibility()"
            [attr.aria-label]="'Mostrar/ocultar contraseña'"
            [attr.aria-pressed]="!hidePassword"
          >
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          @if (accountInfoForm.get('password')?.hasError('required')) {
          <mat-error>La contraseña es requerida</mat-error>
          } @if (accountInfoForm.get('password')?.hasError('passwordStrength')) {
          <mat-error>
            La contraseña debe tener 6 caracteres, con mayúscula, minúscula y un carácter
            especial.</mat-error
          >
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Confirmar Contraseña</mat-label>
          <input
            matInput
            [type]="hideConfirmPassword ? 'password' : 'text'"
            formControlName="confirmPassword"
            (blur)="accountInfoForm.get('confirmPassword')?.markAsTouched()"
          />
          <mat-icon matPrefix>lock</mat-icon>
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="toggleConfirmPasswordVisibility()"
            [attr.aria-label]="'Mostrar/ocultar contraseña de confirmación'"
            [attr.aria-pressed]="!hideConfirmPassword"
          >
            <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>

          @if (accountInfoForm.get('confirmPassword')?.hasError('required')) {
          <mat-error>Confirmar contraseña es requerido</mat-error>
          } @if (accountInfoForm.hasError('passwordMismatch')) {
          <mat-error>Las contraseñas no coinciden</mat-error>
          }
        </mat-form-field>

        <div class="flex gap-2 mt-4">
          <button mat-stroked-button matStepperPrevious class="flex-1">
            <mat-icon>arrow_back</mat-icon>
            Atrás
          </button>
          <button mat-fab extended (click)="registerSupabase()" class="flex-1">Crear cuenta</button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>

  <div class="mt-3 md:mt-6 lg:mt-6 2xl:mt-6 3xl:mt-6 flex-row">
    <span class="font-medium text-sm">¿Ya tienes cuenta?</span>
    <a class="font-medium text-sm text-[#9811FB]" routerLink="/auth/login"> Iniciar sesión</a>
  </div>
</app-auth-card>
