<app-auth-card
  title="Recuperar contraseña"
  subtitle="Te enviaremos un enlace para restablecer tu contraseña"
  subtitleWidth="90%"
>
  <form [formGroup]="form" class="mt-4 w-full">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Correo electrónico</mat-label>
      <input matInput formControlName="email" />
      <mat-icon matPrefix>email</mat-icon>
      @if (form.get('email')?.hasError('required')) {
      <mat-error>Correo electrónico requerido</mat-error>
      } @if (form.get('email')?.hasError('email')) {
      <mat-error>Correo electrónico inválido</mat-error>
      }
    </mat-form-field>

    <button mat-fab extended (click)="RecoverPassword()" class="!w-full">Recuperar</button>
  </form>
  <a
    class="mt-3 md:mt-6 lg:mt-6 2xl:mt-6 3xl:mt-6 font-medium text-sm text-[#9811FB]"
    routerLink="/auth/login"
    >Volver al inicio de sesión</a
  >
</app-auth-card>
