/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;
@use 'assets/styles/variables' as *;
@use 'assets/styles/breakpoints';
@use 'assets/styles/global';
@use 'assets/styles/mat-theming';
@use 'assets/styles/mat-config-theme';
@use 'assets/styles/animations';
@use 'ngx-toastr/toastr';

@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-track {
  background: #1e1e2f;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #692e95, #2a3044);
  border-radius: 8px;
  border: 3px solid #1e1e2f;
}

/* Hover sobre el thumb */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #551785, #24133f);
}

* {
  scrollbar-color: #692e95 #1e1e2f;
}
