@use 'variables' as *;
@use 'breakpoints' as *;
// Supports weights 100-900

.app-container {
  transition: margin-left 0.3s ease, width 0.3s ease;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100dvh;

  @media (min-width: 769px) {
    width: calc(100vw - var(--sidebar-width));
    margin-left: var(--sidebar-width);
  }

  @media (max-width: 768px) {
    width: 100vw;
    margin-left: 0;
  }
}

.main {
  height: 100%;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: white;

  &.mobile-margin-left {
    margin-left: 75px;
    height: 100%;

    @media (min-width: 768px) {
      margin-left: 0;
      height: 100dvh;
    }
  }
}

.bg-side-bar {
  background: $nav-bar-background;
}

.brand-content-center {
  min-height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-nav-bar {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  background: $nav-bar-background;
  height: $heigth-nav-bar;

  @media (max-width: 768px) {
    height: 60px;
  }
}

.bg-base {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $white-color-base;

  @media (max-width: 768px) {
  }

  &.bg-guest {
    background: $home-background;
  }

  &.bg-logged {
    background-color: #5b06d32d;
  }
}

.brand-footer {
  width: 100%;
  bottom: 0;
  left: 0;
  position: relative;
  background-color: $footer-background;
  height: $heigth-footer;

  @media (max-width: 768px) {
    height: auto;
  }
}

.icon-big {
  font-size: 45px !important;
  width: 45px !important;
  height: 45px !important;

  @media (max-width: 768px) {
    font-size: 35px !important;
    width: 35px !important;
    height: 35px !important;
  }
}

.icon-medium {
  font-size: 35px !important;
  width: 35px !important;
  height: 35px !important;
}

.icon-small {
  font-size: 25px !important;
  width: 25px !important;
  height: 25px !important;
}

.font-noto-serif {
  font-family: 'Noto Serif Variable', serif;
}

/* Toast clases */
.toast-container {
  overflow: hidden;

  &.ngx-toastr {
    pointer-events: auto;
    position: fixed;
    z-index: 9999;
    min-width: 400px;
    max-width: 500px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    position: relative;
    animation: slideInRight 0.2s ease-in forwards;

    .toast-icon {
      font-size: 1.5rem;
      position: absolute;
      top: 8px;
      left: 10px;
    }

    .toast-body {
      display: flex;
      flex-direction: column;
      margin-left: 40px;

      .toast-title {
        font-weight: bold;
        font-size: 1.1rem;
        margin-bottom: 5px;
      }

      .toast-message {
        font-size: 0.95rem;
      }
    }

    .toast-progress {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 5px;
      width: 100%;
      background-color: transparent;
    }

    &.brand-toast-success {
      border: 1px solid $toast-success-border;
      color: $toast-success-color;

      .toast-progress {
        background-color: $toast-success-border;
      }
    }

    &.brand-toast-warning {
      border: 1px solid $toast-warning-border;
      color: $toast-warning-color;

      .toast-progress {
        background-color: $toast-warning-border;
      }
    }

    &.brand-toast-error {
      border: 1px solid $toast-error-border;
      color: $toast-error-color;

      .toast-progress {
        background-color: $toast-error-border;
      }
    }

    &.brand-toast-info {
      border: 1px solid $toast-info-border;
      color: $toast-info-color;

      .toast-progress {
        background-color: $toast-info-border;
      }
    }
  }
}

.brand-text-headline-color {
  @apply text-transparent bg-gradient-to-r from-purple-400 to-[#9811FB] bg-clip-text;
}

.right-text {
  text-align: right !important;
}

.center-text {
  text-align: center !important;
}

.bg-guest {
  color: white;
}

.bg-logged {
  color: black;
}
