@use 'variables' as *;
@use '@angular/material' as mat;
$error-red: #eb2f28;
$success-color: #4caf50;
$error-color: #f44336;
$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$brand-palette: (
  50: $light-purple-50,
  100: $light-purple-100,
  200: $light-purple-200,
  300: $light-purple-300,
  400: $light-purple-400,
  500: $light-purple-500,
  600: $light-purple-600,
  700: $light-purple-700,
  800: $light-purple-800,
  900: $error-red,
  A100: $light-purple-A100,
  A200: $light-purple-A200,
  A400: $light-purple-A400,
  A700: $light-purple-A700,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$brand-primary: mat.m2-define-palette($brand-palette, 700);
$brand-accent: mat.m2-define-palette($brand-palette, 300);
$brand-warn: mat.m2-define-palette($brand-palette, 900);

// Definir el tema basado en colores claros
$custom-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $brand-primary,
      accent: $brand-accent,
      warn: $brand-warn,
    ),
  )
);

// Aplicar los estilos de componentes globalmente
@include mat.all-component-themes($custom-theme);
